
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(15deg, #393939 50%, #181818 50.1%);
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


/* BODY */


.mainBody{

    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
    min-height: 65vh;
    text-align: center;
}


#showCart{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: auto;
}

/*------lista de productos--------*/
#TxtInfoPedido{
    margin-top  : 8%;
    margin-right  : 2%;
    border-radius: 25px;
    background: rgb(229, 229, 229);
    color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    width: 500px;
    font-size: 50px;
    z-index: 1;
    height: 200px;
}
#TxtInfoPedido::after{
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0px;
    background: transparent;
    width: 80px; 
    height: 80px;
    border-bottom: 20px solid rgb(229, 229, 229);
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    transform: rotate(90deg);
    z-index: -1;
    }
#img_buy{
    width: 20%;
    height: 20%;
    border: 5px rgb(149, 255, 117) solid;
    border-radius: 18px;
    margin-left: 20%;
    margin-top: 20%;
    transform: scaleX(-1);
}

#showCart #productDiv {
   text-align: right;
   display: flex;
   flex-direction: column;
   width: 80%;
   height: 800px; /* Establece una altura fija para permitir el scroll */
   margin-top: 2%;
   margin-right: 5%;
   border-left: 3px solid rgb(255, 0, 0);
   background-color: rgba(231, 231, 231, 0.861);
   overflow-y: auto; /* Añade una barra de desplazamiento vertical si es necesario */
   font-size: 30px;
   
}


/*-----------BOTONES-----------*/
.buttonPos{
    margin-top: 2%;
}
.buttonPos #cartButton{
    font-size: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonPos #cartButton:hover{
    background-color: #0056b3;
}

/*------------- DIVISION TARJETA Y DIRECCION--------------*/
#showCart #inputDataCart{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 30vh;
   font-size: 30px;
   border-top: 3px solid #ff0000;
   margin-bottom: 1%;
   
}

#showCart #inputDataCart .userDataInput{
    margin: auto;
    margin-left: 3%;
    font-weight: 600;
    width: 90%;
    height: 30%;
    font-size: 30px;
    text-align: center;
    border-radius: 16px;
    border: none;
    background-color: rgba(168, 168, 168, 0.261);
}

#showCart #inputDataCart .textUserCart{
    font-weight: 300;
    font-size: 30px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    text-align: left;
    
}
#cartProductName{
    font-size: 35px;
    font-weight: bold;
    margin-right: 50px;
}

#cartProductPriceDiv{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-left: 4%;
}

#cartProductPriceDiv .cartProductPrice{
    text-align: left;
    margin: auto;
    margin-left: 0;
    margin-bottom: 10%;
    font-size: 30px;
}


#cartProductPriceDiv .cartProductPrice2{
    text-align: left;
    margin: auto;
    margin-left: 0;
    margin-bottom: 10%;
    font-size: 30px;
}

#cartProductPriceDiv .cartProductPrice3{
    text-align: left;
    margin: auto;
    margin-left: 0;
    margin-bottom: 10%;
    font-size: 30px;
}

#cartProductPriceDiv .cartProductInput{
    text-align: center;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    height: 40%;
    font-size: 30px;
    margin-bottom: 10%;
}


#productDiv #totalPriceFinal{
    text-align: left;
    font-weight: 700;
    color: #4d4d4d;
    margin-left: 2%;
}



/* Establecer el ancho del scrollbar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Establecer el color del thumb y del track del scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #747474;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
